* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  min-width: 768px;
}

a {
  color: inherit;
}

.share {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait){
  body {
    min-width: 320px;
  }

}
